.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 400;
    font-style: normal;
}

.gowun-dodum-regular {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    background: linear-gradient(120deg, #b09668, #54cc88, #fff677);
    color: white;
    text-align: center;
    padding: 15px 15px; /* 상단 바의 패딩 */
}


/* 상단 타이틀 스타일 */
.header h1 {
    color: white;
    text-align: center;
    margin: 3px;
    font-family: "Grandiflora One", cursive;
    font-weight: bolder;
    font-size: large;
}